{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Jukebox Roundtable</h1>
            <p class="lead">Never fight for the AUX cord again.</p>
            <br>
            <p>
                <a href="{{ url_for('index') }}" style="color: white;">
                    Return to main page
                </a>
            </p>
        </div>
    </div>
    <div class="container">
        <h2>
            Introduction
        </h2>
        <p>
            Jukebox Roundtable is a solution for all of your group music playlist problems.
            <br><br>
            The point of Jukebox Roundtable is to share music with a group to enhance the environment and to share new
            music with people that may have never heard it. Enjoy!
        </p>
        <br>
        <h2>
            Motivation To Develop Jukebox Roundtable
        </h2>
        <p>
            If you're ever in a situation that requires a collective playlist of music from a group of people without
            changing the auxilary input, then Jukebox Roundtable is the solution for you.
            <br><br>
            If setting up music through a tricky bluetooth speaker is a problem, and there are several people that want
            to play their music, Jukebox Roundtable offers a perfect solution.
            <br><br>
            If you're hanging around a group of friends and wanting to add music to that atmosphere, but you're not sure
            who should be in charge of playing the music, Jukebox Roundtable is here to help.
            <br><br>
            If you're on a long car ride with a group and wanting to let multiple people control the music being played,
            welcome to Jukebox Roundtable.
        </p>
        <br>
        <h2>
            Flow of Jukebox Roundtable
        </h2>
        <p>
            Jukebox Roundtable offers a user-friendly method of combining different tastes in music to a single master playlist.
            <br><br>
            Simply choose a person to be the 'host' that sets up a 'party room' on the application. The host should be
            connected to the audio input, as this is the device that will be playing the music. Next, have everyone in the
            group join the room on the application in order to add their music to the master playlist.
            <br><br>
            The master playlist is simply a collection of everyone's personal playlists that they have built on their
            applications and is built by taking one person's song at a time and playing it through the host's device. The
            master playlist will loop through each person just like a roundtable, and play the first song in their
            personal playlist like a jukebox.
        </p>
        <br>
        <h2>
            GitHub
        </h2>
        <p>
            <a href="https://github.com/jukeboxroundtable/JukeboxRoundtable">
                Check out our GitHub for Jukebox Roundtable
            </a>
        </p>
        <br><br>
    </div>
{% endblock content %}

{% block footer %}{% endblock footer %}