{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Jukebox Roundtable</h1>
            <p class="lead">Never fight for the AUX cord again.</p>
            <br>
            <p>
                <a href="{{ url_for('index') }}" style="color: white;">
                    Return to main page
                </a>
            </p>
        </div>
    </div>
    <div class="container">
        <h2>
            Party Mode
        </h2>
        <p>
            Features: Update with list of Party Mode features.
        </p>
        <br>
        <h2>
            GitHub
        </h2>
        <p>
            <a href="https://github.com/jukeboxroundtable/JukeboxRoundtable">
                Check out our GitHub for Jukebox Roundtable
            </a>
        </p>
    </div>
{% endblock content %}

{% block footer %}{% endblock footer %}