{% extends "layout.html" %}

{% block scripts %}
    {% if host %}
        <script>
            $(window).bind('beforeunload', function () {
                $.ajax({
                    type: 'DELETE',
                    url: "{{ url_for('index') }}"
                });
            });
        </script>
    {% endif %}

    <script>
        $(function () {
            console.log("Hello!");

            $('#new_song').on('submit', function (e) {
                e.preventDefault();
                $.get('song_search',
                    {
                        search: $('#song_search_text').val()
                    },
                    function (data) {
                        let div = document.getElementById('search_results');
                        while(div.firstChild) {
                            div.removeChild(div.firstChild);
                        }

                        for (const result of data) {
                            let title = result.title;
                            if (result.title.length > 35) {
                                title = title.substring(0, 31) + "...";
                            }
                            console.log(result);
                            $('<div/>', {
                                'class': 'card result',
                                'id': result.id,
                                'html': '<div class="table-responsive col-md-4" style="text-align: center;>' +
                                        '<table class="table>' +
                                        '<tbody id="tbody">' +
                                        '<img class="card-img-top" src="' + result.thumbnail + '" alt="' + result.title + '">' +
                                        '<div>' + title + '</div><br></tbody></table></div>' +
                                        '<p style="display:none;">' + result.url + '</p>'
                            }).appendTo('#search_results');
                        }
                    }
                );
            });

            $('#search_results').on('click', 'div.result', function () {
                console.log($(this));
                let src = jQuery(this).find('img').attr('src');
                let title = jQuery(this).find('img').attr('alt');

                console.log(src);
                console.log(title);

                $('<tr/>', {
                    'id': 1,  // Placeholder
                    'html': '<td><img src="' + src + '"></td>' +
                        '<td>' + title + '</td>'
                }).appendTo('#tbody');
            });
        });
    </script>
{% endblock scripts %}

{% block content %}
    <div class="container">
        <a href="{{ url_for('clear_session') }}">
            <img src="/static/img/exitparty.png" class="img-responsive" alt="Exit Party">
        </a>
    </div>

    <div class="jumbotron">
        {% if host %}
            <iframe width="420" height="315" class="center"
                    src="https://www.youtube.com/embed/_FrOQC-zEog">
            </iframe>
        {% endif %}

        <div class="table-responsive col-md-6 center">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Thumbnail</th>
                    <th scope="col">Song Title</th>
                </tr>
                </thead>
                <tbody id="tbody">
{#                {% for n in range(5) %}#}
{#                    <tr>#}
{#                        <th scope="row">{{ n }}</th>#}
{#                        <td>Pic {{ n }}</td>#}
{#                        <td>Title {{ n }}</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
                </tbody>
            </table>
        </div>
    </div>

    <form id="new_song">
        <div class="form-layout">
            <div class="panel">
                <div class="form-group sign-in-form">
                    <label for="searchfield">Search Songs</label>
                    <input name="name" type="text" class="form-control" id="song_search_text"
                           placeholder="Search" autocorrect="off" autocomplete="off">
                </div>
                <div style="text-align: center;">
                    <input id="song_search" name="search" type="submit" class="btn-block btn-primary"
                           style="text-align:center;" value="Search">
                </div>
            </div>
        </div>
    </form>
    <br>

    <div id='search_results' class="container"></div>
{% endblock content %}