{% extends "layout.html" %}

{% block scripts %}
    {% if host %}
        <script>
            $(window).bind('beforeunload', function () {
                $.ajax({
                    type: 'DELETE',
                    url: "{{ url_for('index') }}"
                });
            });
        </script>
    {% endif %}

    <script>
        $(function () {
            console.log("Hello!");

            $('#new_song').on('submit', function (e) {
                e.preventDefault();
                $.get('song_search',
                    {
                        search: $('#song_search_text').val()
                    },
                    function (data) {
                        console.log(data);
                    }
                );
            });
        });
    </script>
{% endblock scripts %}

{% block content %}
    <div class="container">
        <a href="{{ url_for('clear_session') }}">
            <img src="/static/img/exitparty.png" class="img-responsive" alt="Exit Party">
        </a>
    </div>

    <div class="jumbotron">
        {% if host %}
            <iframe width="420" height="315" class="center"
                    src="https://www.youtube.com/embed/_FrOQC-zEog">
            </iframe>
        {% endif %}

        <div class="table-responsive col-md-6 center">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Thumbnail</th>
                    <th scope="col">Song Title</th>
                </tr>
                </thead>
                <tbody>
                {% for n in range(5) %}
                    <tr>
                        <th scope="row">{{ n }}</th>
                        <td>Pic {{ n }}</td>
                        <td>Title {{ n }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <form id="new_song">
        <div class="form-layout">
            <div class="panel">
                <div class="form-group sign-in-form">
                    <label for="searchfield">Search Songs</label>
                    <input name="name" type="text" class="form-control" id="song_search_text"
                           placeholder="Search" autocorrect="off" autocomplete="off">
                </div>
                <div style="text-align: center;">
                    <input id="song_search" name="search" type="submit" class="btn-block btn-primary"
                           style="text-align:center;" value="Search">
                </div>
            </div>
        </div>
    </form>

    <div class="container">
        <p id="title0" style="text-align:center;">Search Results</p>
        <p id="title1" style="text-align:center;"></p>
        <p id="title2" style="text-align:center;"></p>
        <p id="title3" style="text-align:center;"></p>
        <p id="title4" style="text-align:center;"></p>
    </div>
{% endblock content %}