.logo {
    position: flex;
    width: 100%;
    text-align: center;
}

.start-btns {
    position: flex;
    width: 50%;
    text-align: center;
    margin: auto;
}

.footer {
    position: flex;
    width: 100%;
    text-align: center;
}