.logo {
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.form-layout {
    width: 35vh;
    margin: auto;
}

.jumbotron {
    display: flex;
    min-height: 30vh;
    margin: 0;
    align-items: center;
    background-color: #737373 !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
    max-width: 100%;
    max-height: 40vh;
    height: auto;
}

.footer {
    width: 100%;
    text-align: center;
}

.vertical-align {
    /*min-height: 100%; !* Fallback for browsers do NOT support vh unit *!*/
    /*min-height: 100vh; !* These two lines are counted as one 🙂       *!*/
    /*display: flex;*/
    /*align-items: center;*/
}

.sign-in-form {
    text-transform: uppercase;
}

#footer {
    position: relative;
    margin-top: 50px;
}