{% extends "layout.html" %}
{% block content %}
<iframe src="https://open.spotify.com/embed/track/23W5DHu31ZLW9q0p2wQxfN" width="100%" height="90"
        frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<div class="jumbotron">
    <img src="/static/images/dark_side_of_the_moon.jpeg" class="center img-responsive" alt="Album Art">
</div>

<iframe src="https://open.spotify.com/embed/album/6uGYCZLXw3wPFOSYcqLz9F" width="100%" height="300"
        frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
{% endblock content %}