{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="logo">
            <center>
                <img src="/app/static/img/jukeboxlogo.png" class="img-responsive" alt="Logo">
            </center>
        </div>
    </div>
    <div class="vertical-align">
        <div class="container">
            <div>
                {% if error %}
                    <p><strong>{{ error }}</strong></p>
                {% endif %}
                <form id="info" style="align-items: center; display: flex; padding-top: 20vh; flex-wrap: wrap;" action="{{ url_for('index') }}" method="post">
                    <div class="form-layout">
                        <div class="panel">
                            <div class="form-group sign-in-form">
                                <label for="roomcode">Room Code</label>
                                <input name="name" value="{{ name }}" type="text" class="form-control" id="roomcode"
                                       placeholder="Partay" autocorrect="off" autocomplete="off"
                                       maxlength="10" style="text-transform:uppercase">
                                <br>
                                <label for="password">Password</label>
                                <input name="password" type="password" class="form-control" id="password"
                                       placeholder="(Optional)">
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center; width: 100%;">
                        <input id="join-jukebox" name="join" type="submit" class="btn btn-primary btn-lg"
                               style="text-align:center;" value="Join Jukebox">
                        <input id="create_jukebox" name="create" type="submit" class="btn btn-primary btn-lg"
                               value="Create Jukebox">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}